<div class="background shadow py-5 px-3 mb-5">
  <p>（タイトル・本文は必須入力です）</p>
  <p>画像(5MBまで,拡張子はjpeg/jpg/gif/pngのみです)</p>
  <div class="col-md-9 mx-auto">
    <%= form_with model: post do |f| %>
    <div class="mb-3"><i class="fas fa-camera"></i> <%= f.label :image,"画像を挿入してください" %></div>
    <%= f.file_field :image, class: 'form-control'%>
    <div class="mb-3"><i class="far fa-file-alt"></i> <%= f.label :sentence,"あなたの名言を世界に公開しよう" %></div>
    <div><%= f.text_area :sentence, placeholder: "名言を最大１０００文字以内で入力してください", class: 'form-control' %></div>

    <div class="form-group">
      <div class="mb-2"><i class="fas fa-pencil-alt"></i> <%= f.label :post_status,"公開する/非公開にする" %></div>
      <%= f.select :post_status, Post.post_statuses.keys.map { |k| [t("enums.post.post_status.#{k}"),k]}, {}, {class: "w-50"} %>
      <%= f.submit submit, class: "btn btn-success " %>
    </div>
    <div class="my-1">
      <% if @post.user == current_user %>
        <%= link_to '削除', post, method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"},class: 'btn btn-danger w-25'%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

